#chat-panel #messages-window {
    background: white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

#chat-panel .answer {
    background: #E4EBF5;
    padding: 8px 12px;
    margin-bottom: 8px;
    font-family: 'Knewave', cursive;
    max-width: 100%;
    border-width: 8px;
    border-color: black;
}

#chat-panel .message {
    color: black;
    padding: 8px 12px;
    margin-bottom: 8px;
    font-family: 'Knewave', cursive;
    max-width: 70%;
    border-radius: 7px;
}

#chat-panel .ours {
    background: #E4EBF5;
    align-self: flex-end;
    font-family: 'Knewave', cursive;
}

#chat-panel .theirs {
    background-color: #565D67;
}

#chat-panel .username {
    margin-left: 10px;
    font-size: 18px;
    color: #2E3B65;
}

#chat-panel .time_now {
    font-size: 10px;
    display: block;
    text-align: right;
}

#chat-panel .answer_color {
    color: #565D67;
}

#discussions {
    overflow-y: scroll;
    max-height: 86%;
}

#discussions .discussion {
    min-height: 90px;
    background-color: #FFFFFF;
    width: 98%;
    margin: auto;
    display: flex;
    cursor: pointer;
    margin: 7px auto;
}

#discussions .discussion:hover {
    color: white;
    background-color: #2E3B65;
}

#discussions .contact {
    width: 77%;
    max-width: 77%;
    padding: 12px;
    ;
}

#discussions .contact * {
    display: block;
}

#discussions .delete-contact {
    width: 23%;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

#discussion-panel {
    height: 100%;
    width: 100%;
}

#discussions i:hover {
    border-bottom: gray 1px dotted;
    cursor: pointer;
    transform: skew(0deg, 5deg);
    text-shadow: 1px 1px 2px black;
}