

.dropdown-button {
  color: #E4EBF5;
  display: flex;
  font-size: 14px;
  font-family: 'Knewave', cursive;
  font-weight: 600;
  padding: 1rem;
}

.dropdown-button::after {
  align-self: center;
  content: "";
  font-family: "FontAwesome";
  margin-left: 0.5rem;
}
.dropdown-button.has-icon::after {
  content: "";
  margin-left: 0;
}
.dropdown-button.has-icon i {
  font-size: 1.2rem;
}
.dropdown-button.for-form {
  border: 1px solid #E9EDF8;
  border-radius: 4px;
}

.dropdown-list {
  background:#E4EBF5;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  max-height: unset;
  box-shadow: 10px 10px;
}
.dropdown-list.wide {
  width: 100vw;
}
.dropdown-list.wider {
  width: 100vw;
}
.dropdown-list li a {
   font-family: 'Knewave', cursive;
  padding: 0.75rem 0.75rem;
  max-width: 100%;
  display: block;
  font-size: 14px;
  color: #1C263D;
}
.dropdown-list li a:focus {
  opacity: 0.8;
}
.dropdown-list li a:hover {
  opacity: 0.8;
}
.dropdown-list li a.fa {
  font-size: 1.25rem;
}
@media screen and (min-width: 401px) {
  .dropdown-list {
    border-radius: 4px;
    height: unset;
    left: unset;
    max-height: 500px;
    overflow: visible;
    top: unset;
    width: 141px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.075);
  }
  .dropdown-list.wide {
    width: 300px;
  }
  .dropdown-list.wider {
    width: 400px;
  }
}

.dropdown-list .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-list .close a {
  display: flex;
  color: #00293F;
}
@media screen and (min-width: 400px) {
  .dropdown-list .close {
    display: none;
  }
  .dropdown-list .close a {
    display: none;
  }
}
.dropdown-list .has-label a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.dropdown-list .has-label a .label {
  font-size: 12px;
  font-weight: normal;
}
.dropdown-list .has-label.left a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.dropdown-list .has-label.left a span:first-child {
  padding-bottom: 0.25rem;
}
.dropdown-list .has-icon a {
  display: flex;
  align-items: center;
}
.dropdown-list .has-icon a i {
  margin-right: 0.75rem;
  min-width: 1.25rem;
  font-size: 1.25rem;
}
.dropdown-list .social, .dropdown-list .social a {
  display: flex;
  flex-direction: row;
}
.dropdown-list .social a:hover {
  opacity: 0.5;
}
.dropdown-list .disabled a {
  cursor: default;
  pointer-events: none;
  color: #637197;
}
.dropdown-list .selected a {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #20828D;
}
.dropdown-list .selected a::after {
  content: "";
  font-family: "FontAwesome";
}
.dropdown-list .title, .dropdown-list .sub-title {
  padding: 0.75rem 0.75rem;
  font-size: 12px;
  font-weight: 600;
}
.dropdown-list .title {
  text-transform: uppercase;
  font-weight: 600;
  color: #637197;
}
.dropdown-list .sub-title {
  font-size: 12px;
  color: #637197;
  padding-bottom: 0.25rem;
}
.dropdown-list .has-border {
  border-bottom: 1px solid #E9EDF8;
}

.dropdown .dropdown-list .arrow {
  border-bottom: 6px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  top: -6px;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  z-index: 9999;
}
.dropdown .dropdown-list .arrow::after {
  border-bottom: 5px solid white;
  border-top: none;
  top: 1px;
  left: -5px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
}
.dropdown .dropdown-list.appears-top .arrow {
  border-bottom: none;
  border-top: 6px solid rgba(0, 0, 0, 0.05);
  top: 100%;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  z-index: 9999;
}
.dropdown .dropdown-list.appears-top .arrow::after {
  border-bottom: none;
  border-top: 5px solid white;
  top: -6px;
  left: -5px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
}
.dropdown .dropdown-list.appears-right .arrow {
  border-bottom: 6px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  top: -6px;
  left: unset;
  right: 1rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  z-index: 9999;
}
.dropdown .dropdown-list.appears-right .arrow::after {
  border-bottom: 5px solid white;
  border-top: none;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
}
.dropdown .dropdown-list.appears-top.appears-right .arrow {
  border-bottom: none;
  border-top: 6px solid rgba(0, 0, 0, 0.05);
  top: 100%;
  left: unset;
  right: 1rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  z-index: 9999;
}
.dropdown .dropdown-list.appears-top.appears-right .arrow::after {
  border-bottom: none;
  border-top: 5px solid white;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
}

.dark.dropdown .dropdown-button {
  color: #CACED9;
}
.dark.dropdown .for-form {
  border: 1px solid #00293F;
}
.dark.dropdown .dropdown-list {
  background: #00293F;
}
.dark.dropdown .dropdown-list li a {
  color: white;
}

.dark.dropdown .dropdown-list .arrow {
  border-bottom-color: #2E3B65 !important;
  border-top-color: #2E3B65 !important;
}
.dark.dropdown .dropdown-list .arrow::after {
  border-bottom-color: #2E3B65 !important;
  border-top-color: #2E3B65 !important;
}
.dark.dropdown .dropdown-list .close a {
  color: white;
}
.dark.dropdown .dropdown-list .disabled a {
  color: #CACED9;
}
.dark.dropdown .dropdown-list .selected a {
  color: #CACED9;
}
.dark.dropdown .dropdown-list .title {
  color: #CACED9;
}
.dark.dropdown .dropdown-list .sub-title {
  color: #CACED9;
}
.dark.dropdown .dropdown-list .has-border {
  border-bottom: 1px solid #2E3B65;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 2rem auto;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.container .light-wrap {
  background: inherit;
  padding: 1rem;
}
.container .dark-wrap {
  background: #001A27;
  padding: 1rem;
}

a, a:hover, a:focus {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

