<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Frage</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="icon3.png">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='chatStyle.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='searchbox.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='popupwindow.css'>
    <script src="https://kit.fontawesome.com/40cc7560f5.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Archivo' rel='stylesheet'>

    <script src="https://unpkg.com/swagger-client@3.13.5/dist/swagger-client.browser.min.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="dropstyle.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://use.fontawesome.com/217a3c1f0b.js'></script>
    <script src="dropscript.js"></script>

</head>

<body>


    <div id="app1">

        <div id="header">

            <img src="Logo.png">

            <div id="info" v-show="loggedin">
                <div class="dropdown" data-dropdown="">

                    <a class="dropdown-button" data-dropdown-button="" href="#"><i
                            class="fa fa-user-circle fa-2x"></i></a>

                    <ul class="dropdown-list" data-dropdown-list="">
                        <div class="arrow"></div>
                        <li class="has-border close" data-dropdown-close="">
                            <span class="title">Profile Menu</span>
                            <a class="fa fa-close" href="#"></a>
                        </li>
                        <li class="title has-border" style=" font-family: 'Knewave', cursive;">
                            <div id="user_para" v-show="loggedin">{{ userData.email }}</div>
                        </li>

                        <li class="has-border">
                            <a style="margin-left: 15px;" href='javascript:;' onclick='logout1();'><i
                                    class="fas fa-sign-out-alt" href='javascript:;' onclick='logout1();'></i>Logout</a>
                        </li>
                    </ul>
                </div>

                <!--
                
                <i class="fas fa-user-cog"></i>

                </i>-->





            </div>
        </div>

        <div id="main-content" class="flexbox-container main-content">
            <!-- The Modal -->
            <div class="modal" id="answer-popup-window" v-show="answeringQuestion" ref="answerPopupWindow">
                <!-- Modal content -->
                <div class="modal-content border">
                    <div class="modal-header">
                        <span class="close" @click="closeAnswerWindow()">&times;</span>
                        <h4>Please answer the following question:</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ questionToBeAnsweredText }}</p>
                        <input type="text" v-model="questionAnswer" style="
                        border-radius: 15px;
                        border-width: 2px;
                        border-color: var(--dunkel1);
                    " class="" placeholder="your answer..">
                    </div>
                    <div class="modal-footer">
                        <button class="button" @click="postAnswer()">answer</button>
                        <button class="button" @click="closeAnswerWindow()">cancel</button>
                    </div>
                </div>
            </div>



            <div id="login_div" ref="login" v-if="!loggedin" class="flexbox-item log-in-out" :class="{'responsivDiv': hideDivForResponsiv}">
                <link rel='stylesheet' type='text/css' media='screen' href='log-in-out.css'>
                <div class="pane">
                    <div id="wrap" class="input">
                        <section v-if="signin" class="input-content" id="login-show" style="box-shadow: 10px 10px;" :class="[(canShowDiv == 4) ? 'showActiveDiv': 'canHideDiv'  ]">
                            <h2>LOGIN
                            </h2>
                            <div class="input-content-wrap">
                                <dl class="inputbox">
                                    <!-- <dt class="inputbox-title">E-Mail</dt> -->
                                    <dd class="inputbox-content">
                                        <input class="input" id="input0" type="text" required />
                                        <label for="input0">E-Mail</label>
                                        <span class="underline"></span>
                                    </dd>
                                </dl>
                                <dl class="inputbox">
                                    <!-- <dt class="inputbox-title">Password</dt> -->
                                    <dd class="inputbox-content">
                                        <input id="input1" type="password" required />
                                        <label for="input1">Password</label>
                                        <span class="underline"></span>
                                    </dd>
                                </dl>
                                <div class="btns">
                                    <button class="btn-confirm" onclick="login1()">Sign in</button>
                                    <button id="hide_reg" class="btn-confirm" onclick="show_registration();">Sign
                                        up</button>
                                </div>
                                <!-- <div class="btns">
                                    <button id="resetPassword" onclick="show_PasswordReset()" style="border: 0px;background-color:white;color: #00293F;font-size: large;">Forgot
                                        your Password</button>
                                </div> -->

                            </div>
                        </section>
                        <section v-if="divregistration" class="input-content" id="registration-show" style="box-shadow: 10px 10px;" :class="[(canShowDiv == 5) ? 'showActiveDiv': 'canHideDiv'  ]">
                            <h2>SIGN UP
                            </h2>
                            <div class="input-content-wrap">
                                <dl class="inputbox">
                                    <!--<dt class="inputbox-title">E-Mail</dt>-->
                                    <dd class="inputbox-content">
                                        <input id="input0_r" type="text" required />
                                        <label for="input0">E-Mail</label>
                                        <span class="underline"></span>
                                    </dd>
                                </dl>
                                <dl class="inputbox">
                                    <!--<dt class="inputbox-title">E-Mail</dt>-->
                                    <dd class="inputbox-content">
                                        <input id="username" type="text" required />
                                        <label for="username">username</label>
                                        <span class="underline"></span>
                                    </dd>
                                </dl>
                                <dl class="inputbox">
                                    <!--<dt class="inputbox-title">Password</dt>-->
                                    <dd class="inputbox-content">
                                        <input id="input2-r" type="password" required />
                                        <label for="input1">Password</label>
                                        <span class="underline"></span>
                                    </dd>
                                </dl>
                                <dl class="inputbox">
                                    <!--<dt class="inputbox-title">Re-Password</dt>-->
                                    <dd class="inputbox-content">
                                        <input id="input3-r" type="password" required />
                                        <label for="input1">Re-Password</label>
                                        <span class="underline"></span>
                                    </dd>
                                </dl>
                                <div class="btns">
                                    <button class="btn-confirm" onclick="signUp1()">Sign up</button>
                                    <button id="hide_log" class="btn-confirm" onclick="show_login()">Sign in</button>

                                </div>
                            </div>
                        </section>
                        <section v-if="divreset" class="input-content" id="passwordreset-show" style="box-shadow: 10px 10px;">
                            <h2><button class="btn btn-confirm" onclick="show_login()" style="border: 1px solid white;border-color:white;font-size: 26px;font-weight: bold;">
                                    LOGIN</button>
                                <div class="input-content-wrap">
                                    <dl class="inputbox">
                                        <dt class="inputbox-title">E-Mail</dt>
                                        <dd class="inputbox-content">
                                            <input id="input_pass" type="text" required />
                                            <label for="input0">E-Mail</label>
                                            <span class="underline"></span>
                                        </dd>
                                    </dl>
                                    <div class="btns">
                                        <button class="btn btn-confirm" id="resetPassword" onclick="PasswordReset()">Forgot
                                            my Password</button>
                                    </div>
                                </div>
                        </section>
                    </div>
                </div>

            </div>

            <!-- chat-->

            <div id="chat-panel" ref="chat" v-if="loggedin" class="flexbox-item" :class="[(canShowDiv == 1) ? 'showActiveDiv': 'canHideDiv' ]">

                <div id="discussion-panel" v-show="!isChatting">
                    <nav id="msger-header">
                        <div class="head">
                            <div class="msger-header-title">
                                <h class="username">CHAT LIST</h>
                            </div>
                        </div>
                    </nav>
                    <div id="discussions">

                        <div class="discussion" v-for="(dis, index) in discussions">
                            <div>

                            </div>

                            <div class="contact" v-if="!dis.deleting.deleted" @click="startChatting(dis)">
                                <strong>{{dis.user.username}}</strong>
                                <span>{{dis.user.email}}</span>
                            </div>
                            <div class="contact" style="color:red; font-size: large;" v-else>
                                <span>
                                    Diskussion wird in {{dis.deleting.remainedTime}} Sekunden gelöscht.
                                </span>
                            </div>
                            <div class="delete-contact" v-if="!dis.deleting.deleted"><i class="fas fa-ban" @click="deleteDiscussion(dis.id)"></i></div>
                            <div class="delete-contact" v-else><i class="fas fa-undo" @click="undoDeletingDiscussion(dis.id)"></i></div>
                        </div>

                    </div>
                </div>
                <div class="pane" v-if="isChatting">
                    <nav id="msger-header">
                        <div class="head">
                            <div class="msger-header-title">
                                <i class="fas fa-arrow-left" @click="isChatting = false"></i>
                                <h class="username">{{actualDiscussion.user.username}}</h>
                            </div>
                        </div>
                    </nav>
                    <div id="chat" ref="chat">
                        <span class="answer">
                        <span class="answer_color">Frage: </span>{{actualDiscussion.question.text}}
                        </br>
                        <span class="answer_color">Antwort: </span>{{actualDiscussion.otherUserAnswer.text}}
                        </span>

                        <div id="messages-window">
                            <span v-bind:class="'message ' + (message.user_id==userData.id ? 'ours' : 'theirs')" v-for="message in messages">{{message.content}}
                                <span class="time_now">{{message.time}}</span></span>
                        </div>

                    </div>
                    <div id="message-input">
                        <form action="javascript:void(0);">
                            <input type="text" placeholder="type a message.." v-model="messageText" @keyup.enter="sendMessage()">
                            <button type="submit" id="send-message-button"><i class="fa fa-paper-plane"
                                    aria-hidden="true" @click="sendMessage()"></i></button>
                        </form>
                        <!-- <input class="chatInput" type="text" v-model="newMessageContent"
                            v-on:keyup.enter="addMessage" /> -->
                        <!-- <button @click="addMessage()" class="buttonchat">send</button> -->
                    </div>

                </div>

            </div>

            <!-- myquestions -->

            <div id="user_div" ref="myQuestion" v-if="loggedin" class="flexbox-item" :class="[(canShowDiv == 2) ? 'showActiveDiv': 'canHideDiv']">
                <div class="pane">
                    <article id="question-asking-area" class="">
                        <div id="question-input-container">
                            <textarea id="question-textarea" placeholder="type a question.." class="input-box" rows="5" v-model="posttext"></textarea>
                            <button type="button" v-show="!editingQuestion" @click="postQuestion();" class="button">post</button>
                            <button type="button" v-show="editingQuestion" @click="postQuestion();" class="button">Bearbeitung bestätigen</button>
                            <button type="button" v-show="editingQuestion" @click="editingQuestion = false; posttext = '';" class="button">abbrechen</button>
                        </div>
                    </article>

                    <article class="post-container" v-for="(q, index) in myquestions" @click="answerQuestion(index, true)">

                        <div class="question-text">
                            {{q.text}}
                            <br><br>

                            <code v-for="h in q.hashtags">
                                    #{{h}}
                            </code>
                        </div>
                        <div class="icons">
                            <i class="fas fa-pencil-alt fa-lg" @click.stop="editQuestion(index)"></i>
                            <i class="fas fa-link fa-lg" @click.stop="copyLink(index,true)"></i>
                            <i class="far fa-trash-alt fa-lg" @click.stop="deleteQuestion(index)"></i>
                        </div>
                    </article>


                </div>
            </div>


            <div ref="otherQuestion" v-show="true" class="flexbox-item search" :class="[(canShowDiv == 3) ? 'showActiveDiv': 'canHideDiv'  ]">
                <div class="pane">
                    <!-- <div class="search-container">
                        <form action="">
                          <input id="search-box" type="text" placeholder="Search.." name="search">
                          <button><i class="fa fa-search fa-lg"></i></button>
                        </form>
                      </div> -->

                    <div id="alt-search-box">
                        <label>
                            <input type="text" ref="searchInput" v-model="searchText" required>
                            <ul>
                                <li s>s</li>
                                <li e>e</li>
                                <li a>a</li>
                                <li r>r</li>
                                <li c>c</li>
                                <li h>h</li>
                            </ul>
                        </label>
                    </div>

                    <article class="post-container" v-for="(q, index) in searchedquestions" @click="answerQuestion(index, false)">
                        <div class="question-text">
                            {{q.text}}
                            <br><br>
                            <code v-for="h in q.hashtags">
                                #{{h}}
                            </code>
                        </div>
                        <div class="icons">
                            <i class="fas fa-link fa-lg" @click.stop="copyLink(index, false)"></i>
                        </div>
                    </article>


                </div>
            </div>

        </div>

        <nav id="mobile-navigation-bar" class="border" v-show="loggedin">
            <ul>
                <li class="border"><a @click="isSelected(1)" :class="{'active':isactive == 1}"><i
                            class="far fa-comments tabs"></i></a></li>
                <li class="border"><a ref="myQuestion" @click="isSelected(2)" :class="{'active':isactive == 2}"><i
                            class="far fa-question-circle tabs"></i></a></li>
                <li class="border"><a @click="isSelected(3)" :class="{'active':isactive ==3 }"><i
                            class="fas fa-search tabs"></i></a></li>
            </ul>
        </nav>

        <nav id="mobile-navigation-bar" class="border" v-show="!loggedin">
            <ul>
                <li class="border"><a @click="isSelected(4)" :class="{'active':isactive == 4}"><i
                            class="fas fa-sign-in-alt"></i></a></li>
                <li class="border"><a ref="myQuestion" @click="isSelected(5)" :class="{'active':isactive == 5}"><i
                            class="fas fa-user-plus"></i></a></li>
                <li class="border"><a @click="isSelected(3)" :class="{'active':isactive ==3 }"><i
                            class="fas fa-search tabs"></i></a></li>
            </ul>
        </nav>

    </div>


    <script src="vue.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>


    <script src="show_login.js"></script>
    <script src="fire.js"></script>



</body>

</html>