/* .input::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #0f1041;
} */

.input-content {
    position: relative;
    padding: 44px 55px;
    background: #fff;
    z-index: 10;
    margin: 5% 10% 0% 10%;
    font-size: 16px;
    border-radius: 15px;
}

.input-content h2 {
    padding-bottom: 40px;
    position: relative;
    color: var(--dunkel2);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: center;
}

.input-content h2::before {
    content: '';
    position: absolute;
    /* left: 0; */
    bottom: 15px;
    width: 164px;
    height: 4px;
    background: var(--dunkel2);
    margin-left: -35px;
}

.input-content h2 span {
    text-transform: uppercase;
    margin-left: 10px;
    color: #9c9c9c;
}

.input-content .inputbox {
    overflow: hidden;
    position: relative;
    padding: 3px 0 0px 50px;
}

.input-content .inputbox-title {
    position: absolute;
    top: 15px;
    left: 0;
    width: 200px;
    height: 30px;
    color: var(--dunkel2);
    font-weight: bold;
    line-height: 30px;
}

.input-content .inputbox-content {
    position: relative;
    width: 100%;
    margin-top: 15px !important;
}


/*.input-content .inputbox-content .input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--dunkel2);

}*/

.input-content .inputbox-content input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    line-height: 30px;
    font-size: 16px;
    background: #2E3B65;
    outline: none;
    border-radius: 35px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
}

.input-content .inputbox-content input:focus~label,
.input-content .inputbox-content input:valid~label {
    color: #2E3B65;
    transform: translateY(-36px);
    cursor: default;
}

.input-content .inputbox-content input:focus~.underline {
    width: 85%;
}

.input-content .inputbox-content label {
    position: absolute;
    top: 1rem;
    left: 2rem;
    height: 15px;
    line-height: 30px;
    color: #ccc;
    cursor: text;
    transition: all 200ms ease-out;
    z-index: 10;
}

.input-content .inputbox-content .underline {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background: #2E3B65;
    transition: all 200ms ease-out;
}

.input-content .btns {
    padding: 20px 0 0 200px;
}

.input-content button {
    cursor: pointer;
}

.input-content .btns .btn {
    display: inline-block;
    margin-right: 2px;
    padding: 10px 25px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    color: #666;
    outline: none;
    transition: all 100ms ease-out;
    cursor: pointer;
    background: #2E3B65;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: 600;
}

.input-content .btns .btn-confirm {
    width: 150px;
    border-radius: 10px;
    background: #2E3B65;
    color: #ccc;
    box-shadow: 3px 4px;
    font-size: large;
}


/* searchbox styling */

#login_div input {
    padding: 6px 0px 6px 0px;
    margin: 7px 0px;
    font-size: 17px;
    border: none;
    width: 85%;
    text-indent: 30px;
}