:root {
    --hell2: #E4EBF5;
    --dunkel2: #2E3B65;
    --hell1: #FFFFFF;
    --dunkel1: #565D67;
}


/* :root {
  --hell2: #322c2c;
  --dunkel2: #ECE8E8;
  --hell1: #E3D8D6;
  --dunkel1: #CFC2BF;
} */

* {
    box-sizing: border-box;
    font-family: 'Knewave', cursive;
}

body,
html,
#app1 {
    width: 99%;
    height: 99%;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    font-family: 'Knewave', cursive;
    background-color: var(--dunkel2);
    color: var(--dunkel2)
}

#header {
    margin: 10px 20px;
    height: 10%;
    max-height: 10%;
    margin-bottom: 0.8%;
    font-size: 150%;
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#header>div#info {
    margin-right: 35px;
}

.main-content {
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    overflow-wrap: break-word;
    height: 90%;
    font-size: 18px;
    line-height: 35px;
    margin-top: -12px;
}

#main-content>.flexbox-item {
    margin: 0px 10px;
    flex-grow: 1;
    /* max-width: 33.33%; */
    overflow-y: scroll;
    padding: 2px;
    display: block;
    background-color: var(--hell2);
    border-radius: 7px;
    overflow-x: hidden;
}

.post-container {
    display: flex;
    padding: 0px;
    margin-top: 10px;
    overflow-wrap: break-word;
    margin: 10px 5px;
    padding: 0px 10px 10px 10px;
    background-color: var(--hell1);
    border-radius: 7px;
    /* border-bottom: 1px solid black; */
}

.post-container:hover {
    color: var(--hell1);
    background-color: var(--dunkel2);
    cursor: pointer;
}

.question-text {
    padding: 10px 0px 10px 0px;
    flex-grow: 5;
    line-height: 150%;
}

code {
    font-family: 'Knewave', cursive;
}

.icons {
    flex-grow: 1;
    padding: 5px;
    text-align: right;
    min-width: 30px;
}

.pane {
    width: 100%;
    /* min-height: 99%; */
    background-color: inherit;
}

#question-asking-area {
    background-color: inherit;
    margin: 15px 5px;
    padding: 0px 10px 10px 10px;
}

#question-input-container {
    width: 100%;
}

.input-box {
    border: 2px solid var(--dunkel1);
    border-radius: 4px;
    background-color: var(--hell1);
    font-size: large;
    color: var(--dunkel2)
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea:active {
    border: 1px solid #ccc;
}


/* this is a test class to see the borders of an element */

.border {
    border-style: solid;
    border-color: white;
    background-color: white;
    border: 1px solid 111111;
}


/* div:nth-child(odd) {
     background: #eeee; 
  }
  
div:nth-child(even) {
     background: #dddd; 
  } */

.icons i {}

.icons i:hover,
#send-message-button i:hover,
#msger-header i:hover {
    /* border-bottom: gray 1px dotted; */
    cursor: pointer;
    transform: skew(0deg, 10deg);
}


/*
scrollbar
*/


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--hell2);
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--dunkel1);
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--dunkel2);
    border-radius: 5px;
}


/* post button style */


/* .button {
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  border-radius: 4px;
  font-family: 'Knewave', cursive;
} */

.button {
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--dunkel2);
    border: 2px solid var(--dunkel1);
    color: var(--hell1);
}

.button:hover {
    background-color: var(--hell1);
    border: 2px solid var(--dunkel2);
    color: var(--dunkel2);
}


/* .search-container{
  text-align: center;

}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width:15%;
} */

.search-container button:hover {
    background: #ccc;
}

#mobile-navigation-bar {
    display: none;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:800px) {
    .input-content {
        margin: 5% 3% 0% 3% !important;
        padding-top: 20px !important;
    }
    #login_div input {
        width: 100% !important;
    }
    .input-content-wrap>* {
        padding: 0px !important;
    }
    .input-content .inputbox-content {
        margin: 0px !important;
    }
    .modal-content {
        width: 90% !important;
    }
    #main-content>.flexbox-item {
        margin: 0px 0px;
    }
    div.flexbox-item {
        display: none;
        width: 100%;
        max-width: 100%;
    }
    div.flexbox-item:last-child {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .main-content {
        height: 80%;
        overflow-x: hidden;
    }
    #mobile-navigation-bar {
        display: block;
        margin: auto;
        overflow: hidden;
        bottom: 0;
        width: 94%;
        height: 8%;
        border: none;
        margin-top: 18px;
    }
    #mobile-navigation-bar ul {
        list-style-type: none;
        margin: auto;
        bottom: 0;
        width: 100%;
        text-align: center;
        display: flex;
        margin-bottom: 10px;
        height: 100%;
    }
    #mobile-navigation-bar li {
        margin: 0px;
        flex-grow: 1;
        height: 100%;
        cursor: pointer;
    }
    #mobile-navigation-bar li a {
        display: block;
        color: black;
        text-align: center;
        padding-top: 20px;
        text-decoration: none;
        height: 100%;
    }
    #mobile-navigation-bar li a:hover:not(.active) {
        background-color: var(--dunkel2);
        color: #FFFFFF;
    }
    #mobile-navigation-bar .active {
        background-color: var(--dunkel2);
        font-size: x-large;
        color: #E4EBF5;
    }
    #mobile-navigation-bar {
        display: block;
    }
    #main-content #login_div.responsivDiv {
        display: none !important;
    }
    #hide_reg {
        display: none;
    }
    #hide_log {
        display: none;
    }
}


/* chat */

div#chat-panel {
    overflow: hidden;
    overflow-y: hidden !important;
    padding: 0px !important;
}

#chat-panel>.pane {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    align-items: stretch;
    /* display: contents; */
    height: 100%;
}

#chat-panel #chat {
    overflow: hidden;
    display: flex;
    margin: 0px !important;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    /* border:10px solid red; */
    /* min-height:80% !important; */
    /* flex-grow:7; */
}

#chat-panel #msger-header {
    /* border:10px solid red; */
    /* flex-basis: 95px; */
    flex: none;
}

#message-input {
    /* border:10px solid red; */
    /* flex-basis:50px; */
    padding-top: 10px;
    border: 1px 0px 0px 0px;
    padding-left: 20px;
    color: var(--dunkel2);
    flex-basis: 50px
}

#send-message-button {
    font-size: 25px;
    color: var(--dunkel2);
    /* border-color:var(--dunkel2); */
    /* border-width: 1px; */
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#send-message-button {}

#chat-panel .msger-header-title {
    color: var(--dunkel2);
    margin-left: 25px;
    margin-top: 20px;
}

#chat-panel #chat {
    flex-direction: column;
    flex-grow: 10;
}

#chat-panel input[type=text] {
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 85%;
    font-family: 'Knewave', cursive;
    color: var(--dunkel2);
    margin-bottom: 15px;
    border-radius: 5px;
}

#chat-panel .head {
    padding-top: 10px;
    padding-bottom: 17px;
    background-color: var(--hell2);
    border-bottom: 4px solid var(--dunkel2);
}

#chat-panel nav>i {
    color: var(--hell1)
}

.main-content>.flexbox-item.log-in-out {
    min-width: 33.33%;
    /* max-width: 66.66%; */
}

.logo {
    height: 70px;
    width: 160px;
}

div.showActiveDiv {
    display: block !important;
    max-width: 100% !important;
    width: 100% !important;
    overflow-x: hidden;
}

div.canHideDiv {
    display: none !important;
}

@media (min-width:800px) {
    #main-content>.flexbox-item {
        max-width: 33.33%;
    }
    #login_div {
        max-width: 66.66% !important;
    }
    div.showActiveDiv {
        display: inherit !important;
        max-width: 33.3333% !important;
        width: 33.33333% !important;
    }
    div.canHideDiv {
        display: inherit !important;
    }
}

.tabs {
    font-size: 30px;
    margin-top: -3px;
}