/* The Modal (background) */
.modal {
    top:0px;
    left: 0px;
    position: fixed; /* Stay in place */
    padding-top: 15%; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
  }
  
  /* Modal Content */
  .modal-content {
    position: rela;
    background-color: #fefefe;
    border-radius: 15px;
    border:none;
    margin: auto;
    padding: 10px;
    padding-bottom: 30px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    float: right;
    font-size: 43px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;

  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;

  }

  .modal-content input[type=text]{
    font-size: large;
    margin:20px;
    height: 80px;
    width:80%;
    padding:10px;
    box-shadow: none;
  
  }
