:root {
    --hell2: #E4EBF5;
    --dunkel2: #2E3B65;
    --hell1: #FFFFFF;
    --dunkel1: #565D67;
}

#alt-search-box * {
    box-sizing: border-box;
}

#alt-search-box {
    padding: 25px 10px 10px 10px;
}

#alt-search-box label {
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
    margin-top: -10px;
    background-color: var(--hell1);
    font-family: 'Knewave', cursive;
    width: 100%;
    max-width: 300px;
}

#alt-search-box input {
    width: 100%;
    display: flex;
    margin-top: 25px;
    padding: 0px;
    background-color: var(--hell1);
    border: 2px solid var(--dunkel2);
    color: var(--dunkel2);
    font-size: 15px;
    /* box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px var(--dunkel1); */
    height: 40px;
    /* transform: skew(-1deg, 0deg); */
    font-family: 'Knewave', cursive;
    letter-spacing: 2px;
    border-radius: 10px;
    padding-left: 10px;
}

#alt-search-box input:focus,
input:valid {
    outline: none;
}

#alt-search-box input:focus~ul li:nth-child(1)::before,
input:valid~ul li:nth-child(1)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#alt-search-box input:focus~ul li:nth-child(1)::after,
input:valid~ul li:nth-child(1)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#alt-search-box input:focus~ul li:nth-child(2)::before,
input:valid~ul li:nth-child(2)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#alt-search-box input:focus~ul li:nth-child(2)::after,
input:valid~ul li:nth-child(2)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#alt-search-box input:focus~ul li:nth-child(3)::before,
input:valid~ul li:nth-child(3)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#alt-search-box input:focus~ul li:nth-child(3)::after,
input:valid~ul li:nth-child(3)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#alt-search-box input:focus~ul li:nth-child(4)::before,
input:valid~ul li:nth-child(4)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#alt-search-box input:focus~ul li:nth-child(4)::after,
input:valid~ul li:nth-child(4)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#alt-search-box input:focus~ul li:nth-child(5)::before,
input:valid~ul li:nth-child(5)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#alt-search-box input:focus~ul li:nth-child(5)::after,
input:valid~ul li:nth-child(5)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#alt-search-box input:focus~ul li:nth-child(6)::before,
input:valid~ul li:nth-child(6)::before {
    filter: blur(20px);
    transform: translate(0, -35px) rotate(-210deg);
}

#alt-search-box input:focus~ul li:nth-child(6)::after,
input:valid~ul li:nth-child(6)::after {
    filter: blur(0);
    transform: scale(1) rotate(0);
}

#alt-search-box input:focus~ul li:nth-child(1)::after,
input:valid~ul li:nth-child(1)::after {
    transition-delay: 200ms;
}

#alt-search-box input:focus~ul li:nth-child(2)::after,
input:valid~ul li:nth-child(2)::after {
    transition-delay: 300ms;
}

#alt-search-box input:focus~ul li:nth-child(3)::after,
input:valid~ul li:nth-child(3)::after {
    transition-delay: 400ms;
}

#alt-search-box input:focus~ul li:nth-child(4)::after,
input:valid~ul li:nth-child(4)::after {
    transition-delay: 500ms;
}

#alt-search-box input:focus~ul li:nth-child(5)::after,
input:valid~ul li:nth-child(5)::after {
    transition-delay: 600ms;
}

#alt-search-box input:focus~ul li:nth-child(6)::after,
input:valid~ul li:nth-child(6)::after {
    transition-delay: 700ms;
}

#alt-search-box label {
    position: relative;
}

#alt-search-box ul {
    position: absolute;
    top: 47px;
    left: -4px;
    margin: 0;
    list-style: none;
    padding-left: 22px;
    position: absolute;
    display: flex;
    pointer-events: none;
    transition: 200ms;
}

#alt-search-box ul li {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    pointer-events: none;
    transition: 250ms ease-in-out;
}

#alt-search-box ul li ::selection {
    color: transparent;
}

#alt-search-box ul li::after,
ul li::before {
    color: var(--dunkel2);
    position: absolute;
    transition: 250ms ease-in-out;
}

#alt-search-box ul li::before {
    top: -20px;
}

#alt-search-box ul li::after {
    top: -50px;
    transform: scale(0) rotate(210deg);
    filter: blur(20px);
}

#alt-search-box ul li[s]::before {
    content: attr(s) "s";
    transition-delay: 2ms;
}

#alt-search-box ul li[s]::after {
    content: attr(s) "s";
    left: 12px;
    top: -60px;
    color: var(--dunkel2);
}

#alt-search-box ul li[e]::before {
    content: attr(e) "e";
    transition-delay: 4ms;
}

#alt-search-box ul li[e]::after {
    content: attr(e) "e";
    left: 24px;
    top: -60px;
    color: var(--dunkel2);
}

#alt-search-box ul li[a]::before {
    content: attr(a) "a";
    transition-delay: 6ms;
}

#alt-search-box ul li[a]::after {
    content: attr(a) "a";
    left: 36px;
    top: -60px;
    color: var(--dunkel2);
}

#alt-search-box ul li[r]::before {
    content: attr(r) "r";
    transition-delay: 8ms;
}

#alt-search-box ul li[r]::after {
    content: attr(r) "r";
    left: 48px;
    top: -60px;
    color: var(--dunkel2);
}

#alt-search-box ul li[c]::before {
    content: attr(c) "c";
    transition-delay: 10ms;
}

#alt-search-box ul li[c]::after {
    content: attr(c) "c";
    left: 60px;
    top: -60px;
    color: var(--dunkel2);
}

#alt-search-box ul li[h]::before {
    content: attr(h) "h";
    transition-delay: 12ms;
}

#alt-search-box ul li[h]::after {
    content: attr(h) "h";
    left: 72px;
    top: -60px;
    color: var(--dunkel2);
}